* {
  margin: 0;
  padding: 0;
}
#name{
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  color: #81FBF2;
  font-size: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -45.5px;
  margin-top: -200px;
}
#says{
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -14.5px;
  margin-top: -140px;
}
#hello {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  color: #81FBF2;
  font-size: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -186.5px;
  margin-top: -140px;
}
#and{
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: 60px;
}
#welcome {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  color: #81FBF2;
  font-size: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -294.5px;
  margin-top: 65px;
}

body{
  background-color: #0B0C10;
}

#nav{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #81FBF2;
  font-size: 20px;
  text-align: center;
  margin-top: 1%;
}

#test{
  border: 1px solid #81FBF2;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
}
#test2{
  border: 1px solid #81FBF2;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 75px;
  margin-right: 75px;
}
#test3{
  border: 1px solid #81FBF2;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;


/*
Black: #0B0C10
Dark blue: #1F2833
Grey: #C5C6C7
Light blue: #81FBF2
Dark blue: #45A29E
*/
