* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("/home/orion/Code/Html/fonts/bebas-neue/BebasNeue-Bold.otf");
}

#name{
  font-family: "Bebas Neue Bold";
  color: #81FBF2;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  animation: fade 2s 1.45s ease forwards;
}

@keyframes fade {
  from {opacity: 0%}
  to {opacity: 100%}
}

#says{
  font-family: "Bebas Neue Bold";
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  animation: fade 2s 1.5s ease forwards;
}
#hello {
  font-family: "Bebas Neue Bold";
  color: #81FBF2;
  font-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  animation: fade 2s 1.55s ease forwards;
}
#and{
  font-family: "Bebas Neue Bold";
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  animation: fade 2s 1.6s ease forwards;
}
#welcome {
  font-family: "Bebas Neue Bold";
  color: #81FBF2;
  font-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  animation: fade 2s 1.65s ease forwards;
}

body{
  background-color: #0B0C10;
}

#nav{
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

#junior{
  text-decoration: none;
  color: #81FBF2;
  border: 1px solid #81FBF2;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 0.25s ease-out;
  animation: fade 2s 1s ease forwards;
}

#junior:hover,
#junior:focus{
  border-radius: 15px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

#senior{
  text-decoration: none;
  color: #81FBF2;
  border: 1px solid #81FBF2;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 0.25s ease-out;
  animation: fade 2s 1s ease forwards;
}

#senior:hover,
#senior:focus{
  border-radius: 15px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

#about{
  text-decoration: none;
  color: #81FBF2;
  border: 1px solid #81FBF2;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 0.25s ease-out;
  margin-left: 75px;
  margin-right: 75px;
  animation: fade 2s 1s ease forwards;
}

#about:hover,
#about:focus{
  border-radius: 15px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.load{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #0B0C10;
  z-index: 1;
  animation: slide 2.5s ease forwards;
}

@keyframes slide {
  0% {height: 99.8%;}
  25% {height: 99.8%;}
  50% {height: 99.8%;}
  98% {height: 0%; border-top: 2px solid white;}
  100% {height: 0%}
}

.sidebarleft {
  height: 99.5%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0B0C10; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  border: 1px solid #81FBF2;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.sidebarright {
  height: 99.5%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #0B0C10; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  border: 1px solid #81FBF2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#testleft{
  padding-top: 10px;
  color: white;
}

#testright{
  padding-top: 10px;
  color: white;
}

/*
Black: #0B0C10
Dark blue: #1F2833
Grey: #C5C6C7
Light blue: #81FBF2
Dark blue: #45A29E
*/
